name: Release Client

on:
  push:

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary_name: server
            asset_name: server-linux
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary_name: server.exe
            asset_name: server-windows.exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --manifest-path server/Cargo.toml --target ${{ matrix.target }}

      - name: Rename Binary
        shell: bash
        run: |
          cp server/target/${{ matrix.target }}/release/${{ matrix.binary_name }} ${{ matrix.asset_name }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.asset_name }}